p {
color:red;
}
.hobby {
  background-color:green;
  border: 2px solid black;
  padding: 5px;
}
#expectation {
  background-color:orange;
}
.animal {
  background-color:green;
}
.books {
  background-color:brown;
}
