p {
color:red;
}
.hobby {
  background-color:olive;
  border: 2px solid black;
  padding: 5px 2px 5px 2px;
}
#expectation {
  background-color:orange;
  border: 2px solid black;
  padding: 5px;
}
.animal {
  background-color:blue;
  border: 2px solid black;
  padding: 5px;
}
.books {
  background-color:brown;
  border: 2px dashed black;
  padding: 5px;
}
.rating {
  background-color:gray;
  border: 2px dotted black;
  padding: 5px;
}
